<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'interface/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Our Intelligent Mobility System (IMS) </h1>
        <p>Discover amazing features and get started today!</p>
        <div class="button-container">
            <a href="#" class="button">Machine Learning</a>
            <a href="#" class="button">Reinforcement Learning</a>
        </div>
    </div>
    
</body>
</html>

